<div class="center jumbotron">
  <h1>Simple</h1>
  <h3> Project Management </h3>
  <%= link_to "Start a New Project", projectmanagers_new_path, class: "btn btn-default btn-large btn-xl" %>
    <%= link_to "Log in", session_new_path, class: "btn btn-default btn-large btn-xl" %>
</div>
